*,
*::after,
*::before {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Arimo", sans-serif;
}

body {
    background-color: #3a4965;
    height: 100vh;
}

table {
    width: 1192px;
    height: 550px;
    border-collapse: collapse;
    table-layout: auto;
    text-align: center;
    background-color: #fafafa;
    margin: 0 auto;
    padding: 20px;
    color: #484848;
}

.choose-plan {
    font-weight: 700;
    font-size: 18px;
}

.choose-plan-h3 {
    font-weight: 700;
    font-size: 30px;
}

.plan {
    background-color: #fafafa;
}

.row1 {
    font-weight: bold;
    text-transform: uppercase;
    padding: 27px 0 18px;
}

.standart {
    color: #fff;
    background-color: #89c331;
    font-size: 24px;
}
.ultimate {
    color: #fff;
    background-color: #f04a56;
    font-size: 24px;
}
.premium {
    color: #fff;
    font-size: 24px;
    background-color: #20807c;
}

.row2 {
    font-size: 60px;
    font-weight: bold;
}

.block-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.per-month {
    font-size: 18px;
    font-weight: 400;
}

.span-price {
    font-size: 24px;
    font-weight: 700;
}

.price-table {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 0 13px;
}

.per-month {
    padding-bottom: 24px;
}

tbody {
    font-size: 16px;
}
.column:nth-child(odd) {
    background-color: #f2f2f2;
}
.column:nth-child(even) {
    background-color: #e3e3e3;
}

.head-column:not(:last-child) {
    border-right: 1px solid #dddddd;
}

.column .row3:not(:last-child),
.row4:not(:last-child),
.row5:not(:last-child),
.row6:not(:last-child),
.row7:not(:last-child),
.row8:not(:last-child),
.row9:not(:last-child) {
    border-right: 1px solid #dddddd;
}
.column {
    height: 72px;
}

.row9 {
    height: 109px;
}

.buy-button {
    background-color: #484848;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 20px 45px 18px 46px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 3px #c4c4c4;
}

.underline {
    width: 100%;
    height: 9px;
    background-color: #404040;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 0 5px 5px;
}

.underline1 {
    background-color: #79b027;
}

.button-2 {
    background-color: #f04a56;
}

.underline2 {
    background-color: #df3a46;
}

.button-3 {
    background-color: #20807c;
}

.underline3 {
    background-color: #16736f;
}

.button-1 {
    background-color: #89c331;
}

.buy-button:hover .row9 {
    background-color: #520b0b;
}

.row9:hover {
    background-color: #dddddd;
    transition: 0.3s;
}

.border {
    height: 736px;
    width: 1190px;
    margin: 0 auto;
    padding: 22px;
}

/* ********************************table2**************************************** */

.table2-header {
    height: 115px;
    width: 1143px;
}

.table2-choose-plan {
    width: 201px;
}

.table2-chosse-you {
    font-weight: 700;
    font-size: 14px;
}

.table2-pricing-plan {
    font-weight: 700;
    font-size: 20px;
}

.table2-td {
    width: 160px;
    height: 160px;
}

td span {
    display: block;
}
.table2-tbody {
    width: 1143px;
    height: 594px;
}

.table2-td:nth-child(even) {
    background-color: #f2f2f2;
}

.table2-td:nth-child(even) {
    background-color: #e3e3e3;
}

.table2-standart {
    background-color: #89c331;
    color: #ffffff;
}

.table2-ultimate {
    background-color: #f04a56;
    color: #ffffff;
}

.table2-premium {
    background-color: #20807c;
    color: #ffffff;
}

.table2-p {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

.table2-price {
    display: inline-flex;
    justify-content: center;
}

.dollars {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 14px;
}

.cent {
    font-weight: 700;
    font-size: 18px;
}

.table2-per-month {
    padding-top: 15px;
}

.table2-buy-now {
    background-color: #484848;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 19px 8px 21px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 3px #c4c4c4;
    margin-top: 10px;
}

.table2-tr:not(:last-child) {
    border-bottom: #dddddd 1px solid;
}
