/* Reset and base styles  */

@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap);

* {
  padding: 0px;
  margin: 0 auto;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */

a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/file_name.woff") format("woff"), url("../fonts/file_name.woff");
  font-weight: 400;
  font-style: normal;
}

body {
  color: #000;
  font-size: 14px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

[class*=__container] {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
}

.header {
  position: relative;
  z-index: 1;
}

.header .icon__menu.active > span:nth-of-type(1) {
  display: none;
}

.header .icon__menu.active > span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
      -ms-transform: translate(-50%, 0%) rotate(45deg);
          transform: translate(-50%, 0%) rotate(45deg);
}

.header .icon__menu.active > span:nth-of-type(3) {
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(-45deg);
      -ms-transform: translate(-50%, 0%) rotate(-45deg);
          transform: translate(-50%, 0%) rotate(-45deg);
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__link {
  text-transform: uppercase;
  letter-spacing: 1.1;
}

.header__link:hover {
  color: #57A4A4;
}

.posts {
  padding-top: 66px;
}

.posts picture {
  margin: 0;
}

.posts__title {
  font-size: 16px;
  font-weight: 700;
  color: #4E4E4E;
  text-transform: uppercase;
  padding-bottom: 24px;
}

.posts__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.posts__cards:not(:last-child) {
  padding-bottom: 32px;
}

.card {
  max-width: 380px;
}

.card__title {
  font-size: 16px;
  font-weight: 700;
  color: #4E4E4E;
  color: #4E4E4E;
  line-height: 30px;
  padding-bottom: 1px;
}

.card__sub-title {
  font-size: 12px;
  color: #7C7C7C;
  line-height: 20px;
  padding-bottom: 14px;
}

.card__description {
  font-size: 14px;
  color: #5C5C5C;
  line-height: 16px;
}

.instagram {
  padding-top: 69px;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 24px;
}

.text__title {
  font-size: 16px;
  font-weight: 700;
  color: #4E4E4E;
  text-transform: uppercase;
}

.text__description {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding-bottom: 50px;
}

.footer {
  width: 100%;
  background-color: #000;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 56px 0;
}

.footer__title {
  font-size: 16px;
  font-weight: 700;
  color: #4E4E4E;
  text-transform: uppercase;
  line-height: 22px;
  color: #FEFEFE;
  padding-bottom: 22px;
}

.footer__subtitle {
  font-size: 16px;
  line-height: 26px;
  color: #B9B9B9;
  text-align: center;
  max-width: 684px;
  padding-bottom: 37px;
}

.footer__icons {
  padding-bottom: 34px;
}

.footer__icons img {
  gap: 6px;
}

.footer__contacts {
  font-size: 16px;
  line-height: 26px;
  color: #B9B9B9;
  text-align: center;
}

@media (min-width: 1200px) {
  .header__list {
    gap: 68px;
    padding: 45px 0 51px 0;
  }

  .posts__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 1199.98px) {
  .header__list {
    gap: 34px;
    padding: 41px 0 43px 0;
  }

  .instagram {
    padding-top: 60px;
  }

  .images {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .images picture:last-child {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .header .icon__menu {
    position: absolute;
    right: 0;
    top: 0;
    margin: 23px 15px;
    width: 44px;
    height: 37px;
    background: #000;
    gap: 2px;
    cursor: pointer;
  }

  .header .icon__menu span {
    width: 18px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .header .icon__menu > span:nth-of-type(2) {
    top: calc(50% - 6px);
  }

  .header .icon__menu > span:nth-of-type(3) {
    top: calc(50% + 6px);
  }

  .header__list {
    display: block;
    position: absolute;
    top: 60px;
    right: 15px;
    width: 182px;
    height: 210px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #F5F5F5;
    padding: 0;
    opacity: 0;
  }

  .header__list.active {
    opacity: 1;
  }

  .header__link {
    display: block;
    height: 30px;
    padding: 8px 0 0 13px;
  }

  .header__link:hover {
    background-color: #E5E5E5;
  }

  .header__image {
    padding-top: 88px;
  }

  .posts__title {
    font-size: 14px;
    padding-bottom: 23px;
  }

  .posts__cards {
    display: block;
    padding-bottom: 28px;
  }

  .posts__cards:last-child {
    display: none;
  }

  .card__sub-title {
    padding-bottom: 0;
  }

  .card__description {
    display: none;
  }

  .text__description {
    display: none;
  }

  .images {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-bottom: 42px;
  }

  .images picture:not(:first-child) {
    display: none;
  }

  .footer__container {
    padding: 38px 35px 47px;
  }

  .footer__title {
    font-size: 14px;
    padding-bottom: 8px;
  }

  .footer__subtitle {
    font-size: 12px;
    padding-bottom: 26px;
    max-width: 303px;
  }

  .footer__subtitle span {
    display: none;
  }

  .footer__contacts {
    max-width: 225px;
  }
}