body {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

a {
    text-decoration: none;
}

ul > li {
    list-style-type: none;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    height: 113px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner {
    height: 600px;
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.list {
    display: inline-flex;
    justify-content: space-between;
    gap: 40px;
}

.bg-white {
    background: #fff;
    position: relative;
    top: 35px;
}

.logo {
    color: #424f57;
    font-weight: 300;
    font-size: 36px;
}

.logo span {
    font-weight: 900;
    color: #14afca;
    text-transform: uppercase;
}

.list-item-a {
    color: #424f57;
    text-transform: uppercase;
}

.header-caption {
    font-size: 52px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.banner {
    height: 600px;
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.triangle-down {
    position: absolute;
    left: 0;
    bottom: 0;
    border-style: solid;
    border-width: 85px 50vw 0 50vw;
    border-color: transparent #ffffff #ffffff #ffffff;
    /* margin-bottom: -0.8px; */
}

.caption {
    margin-top: 122px;
    font-weight: 700;
    font-size: 60px;
    color: #14afca;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.description {
    font-size: 18px;
    color: #424f57;
}

.what-text {
    color: #424f57;
    font-size: 16px;
    margin-bottom: 90px;
}

.companies {
    background-image: url(../img/bg2.jpg);
    min-height: 660px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
}

.caption-companies {
    margin-top: 200px;
    margin-bottom: 0;
}

.triangle-top {
    position: absolute;
    top: 0;
    left: 0;
    border-style: solid;
    border-width: 85px 50vw 0 50vw;
    border-color: #ffffff transparent transparent transparent;
}

.companies-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description-compaines {
    color: white;
    font-size: 18px;
    margin-bottom: 18px;
}

.list-companies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 153px 53px;
}
.card {
}

.list-card {
    display: flex;
    justify-content: space-between;
}

.list-card-item {
    max-width: 300px;
}

.testimonials {
    position: relative;
    background-image: url(../img/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.caption {
}
.description {
}
.testimonials-p {
}
.sign {
}
.triangle-top {
}
