<footer class="footer">
    <div class="footer__container">
        <h2 class="footer__title">- get in touch with us -</h2>
        <div class="footer__subtitle">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed
            donec
            malesuada ullamcorper odio. <span>Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</span>
        </div>
        <div class="footer__icons">
            <img src="./img/footer/1.svg" alt="icon">
            <img src="./img/footer/2.svg" alt="icon">
            <img src="./img/footer/3.svg" alt="icon">
            <img src="./img/footer/4.svg" alt="icon">
            <img src="./img/footer/5.svg" alt="icon">
        </div>
        <p class="footer__contacts"> Moonshine St. 14-05 Light City / T. +00 (123) 456 78 90 / first.last@email.com</p>
    </div>
</footer>