<header class="header">
    <div class="header__container">
        <div class="header__menu menu">
            <ul class="header__list list">
                <li><a href="#" class="header__link">Home</a></li>
                <li><a href="#" class="header__link">about us</a></li>
                <li><a href="#" class="header__link">our journal</a></li>
                <li><a href="#" class="header__link">projects</a></li>
                <li><a href="#" class="header__link">news</a></li>
                <li><a href="#" class="header__link">features</a></li>
                <li><a href="#" class="header__link">contact</a></li>
            </ul>
            <div class="icon__menu menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="header__image">
            <img src="./img/main/1.png" alt="image">
        </div>
    </div>
</header>