<div class="instagram__wrapper instagram">
    <div class="instagram__container">
        <div class="instagram__text text">
            <h2 class="text__title">- Latest Instagram Shots</h2>
            <h3 class="text__description">go to our instagram page -</h3>
        </div>
        <div class="instagram__images images">
            <img src="./img/instagram/1.png" alt="image">
            <img src="./img/instagram/2.png" alt="image">
            <img src="./img/instagram/3.png" alt="image">
            <img src="./img/instagram/4.png" alt="image">
        </div>
    </div>
</div>