<div class="posts__container posts">
    <h2 class="posts__title">- our Recent posts</h2>
    <div class="posts__wrapper">
        <article class="posts__cards">
            <img src="./img/posts/1.png" alt="image">
            <div class="card__text card">
                <h2 class="card__title">Aenean Adipiscing Etiam Vestibulum</h2>
                <h3 class="card__sub-title">Photography, Journal / 9 Comments</h3>
                <p class="card__description">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem
                    lacinia quam venenatis vestibulum.</p>
            </div>
        </article>
        <article class="posts__cards">
            <img src="./img/posts/2.png" alt="image">
            <div class="card__text card">
                <h2 class="card__title">Aenean Adipiscing Etiam Vestibulum</h2>
                <h3 class="card__sub-title">Photography, Journal / 9 Comments</h3>
                <p class="card__description">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem
                    lacinia quam venenatis vestibulum.</p>
            </div>
        </article>
        <article class="posts__cards">
            <img src="./img/posts/3.png" alt="image">
            <div class="card__text card">
                <h2 class="card__title">Aenean Adipiscing Etiam Vestibulum</h2>
                <h3 class="card__sub-title">Photography, Journal / 9 Comments</h3>
                <p class="card__description">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem
                    lacinia quam venenatis vestibulum.</p>
            </div>
        </article>
        <article class="posts__cards">
            <img src="./img/posts/4.png" alt="image">
            <div class="card__text card">
                <h2 class="card__title">Aenean Adipiscing Etiam Vestibulum</h2>
                <h3 class="card__sub-title">Photography, Journal / 9 Comments</h3>
                <p class="card__description">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem
                    lacinia quam venenatis vestibulum.</p>
            </div>
        </article>
    </div>
</div>