.footer { 
    width: 100%;
    // height: 355px;
    background-color: #000;
    &__container { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 56px 0;
        @media (max-width: ($md2+px)) {
            padding: 38px 35px 47px;
        }
    }
    &__title { 
        @include bold-text;
        text-transform: uppercase;
        line-height: 22px;
        color: #FEFEFE;
        padding-bottom: 22px;
        @media (max-width: ($md2+px)) {
            font-size: 14px;
            padding-bottom: 8px;
        }
    }
    &__subtitle {
        font-size: 16px;
        line-height: 26px;
        color: $footer-color;
        text-align: center;
        max-width: 684px;
        padding-bottom: 37px;
        @media (max-width: ($md2+px)) {
            font-size: 12px;
            padding-bottom: 26px;
            max-width: 303px;
            span { 
                display: none;
            }
        }
    }
    &__icons { 
        padding-bottom: 34px;
        img { 
            gap: 6px;
        }
    }
    &__contacts { 
        font-size: 16px;
        line-height: 26px;
        color: $footer-color;
        text-align: center;
        @media (max-width: ($md2+px)) {
            max-width: 225px;
        }
    }
    
}