.header {
    position: relative;
    z-index: 1;
    .icon__menu { 
        @media (max-width: ($md2+px)) {
            position: absolute;
            right: 0;
            top: 0;
            margin: 23px 15px;
            width: 44px;
            height: 37px;
            background: #000;
            gap: 2px;
            cursor: pointer;
                span {
                    width: 18px;
                    height: 2px;
                    background: #fff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: all 0.5s;
                }
                & > span:nth-of-type(2) {
                            top: calc(50% - 6px);
                }
                & > span:nth-of-type(3) {
                            top: calc(50% + 6px);
                }
                }   
                &.active > span:nth-of-type(1) {
                    display: none;
                }
                &.active > span:nth-of-type(2) {
                    top: 50%;
                    transform: translate(-50%, 0%) rotate(45deg);
                }
                &.active > span:nth-of-type(3) {
                    top: 50%;
                    transform: translate(-50%, 0%) rotate(-45deg);
                }
        @media (max-width: ($md3+px)) { 
        }
    }
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        @media (min-width: ($md4+px)) {
            gap: 68px; 
            padding: 45px 0 51px 0 ;
        }
        @media (max-width: ($md3+px)) { 
            gap: 34px; 
            padding: 41px 0 43px 0 ;
        }
        @media (max-width: ($md2+px)) {
            display: block;
            position: absolute;
            top: 60px;
            right: 15px;
            width: 182px;
            height: 210px;
            flex-direction: column;
            background: #F5F5F5;
            padding: 0;
            opacity: 0;
            &.active {
                opacity: 1;
            }
        }    
    }
    &__link {
        text-transform: uppercase;
        letter-spacing: 1.1;
        &:hover { 
            color: #57A4A4;
        }
        @media (max-width: ($md2+px)) { 
            display: block;
            height: 30px;
            padding: 8px 0 0 13px;
            &:hover { 
                background-color: #E5E5E5;
            }
        }
    }
    &__image { 
        @media (max-width: ($md2+px)) {
            padding-top: 88px;
        }
    }
}
