.instagram { 
    padding-top: 69px;
    @media (max-width: ($md3+px)) {
        padding-top: 60px;
    }
}

.text { 
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    &__title {
        @include bold-text;
        text-transform: uppercase;
    }
    &__description { 
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        @media (max-width: ($md2+px)) {
            display: none;
        }
    }
    
}

.images { 
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 50px;
    @media (max-width: ($md3+px)) {
        align-self: center;
        & picture:last-child { 
            display: none;
        }
    }
    @media (max-width: ($md2+px)) {
        align-self: center;
        padding-bottom: 42px;
        & picture:not(:first-child) {
            display: none;
        }
    }
}

