@mixin font($font_name, $file_name, $weight, $style) { 
    @font-face {
        font-family: $font_name;
        src: url('../fonts/#{file_name}.woff') format('woff'), url('../fonts/#{file_name}.woff');
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@mixin bold-text {
    font-size: 16px;
    font-weight: 700;
    color: $main-color;
}