.posts {
    padding-top: 66px;
    picture { 
        margin: 0
    }
    &__wrapper { 
        @media (min-width: ($md4+px)) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }
    &__title { 
        @include bold-text;
        text-transform: uppercase;
        padding-bottom: 24px;
        @media (max-width: ($md2+px)) {
            font-size: 14px;
            padding-bottom: 23px;
        }
        
    }
    &__cards { 
        display: flex;
        gap: 20px;
        &:not(:last-child) {
            padding-bottom: 32px;
        }
        @media (max-width: ($md2+px)) {
            display: block;
            padding-bottom: 28px; // ----------------------------------------------------------------------?
            &:last-child {
                display: none;
            }
        }
    }
}

.card {
    max-width: 380px;
    &__title { 
        @include bold-text;
        color: $main-color;
        line-height: 30px;
        padding-bottom: 1px;
    }
    &__sub-title { 
        font-size: 12px;
        color: $third-color;
        line-height: 20px;
        padding-bottom: 14px;
        @media (max-width: ($md2+px)) {
            padding-bottom: 0;
        }
    }
    &__description { 
        font-size: 14px;
        color: $secondary-color;
        line-height: 16px;
        @media (max-width: ($md2+px)) {
            display: none;
        }
    }

}