// Mixins
@import "null";
// Mixins

// Mixins
@import "mixins";
// Mixins

// fonts settings:
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap);
$font-family: 'Roboto', sans-serif;
@import "fonts"; 
// fonts settings:

// screen
$maxWithContainer: 1170;
$md1: $maxWithContainer + 12;
$md2: 767.98;
$md3: 1199.98;
$md4: 1200;
// screen

// settings
body { 
    color: #000;
    font-size: 14px;
    margin: 0 auto;
    font-family: $font-family;
}

[class*="__container"] {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0px 15px;
}
// settings

// variables 
    $main-color: #4E4E4E;
    $secondary-color: #5C5C5C;
    $third-color: #7C7C7C;
    $footer-color: #B9B9B9;
// variables 


// Basic styles 
// Basic styles

// files import 
@import "header";
@import "posts";
@import "instagram";
@import "footer";
// files import